.section-wrapper {
  opacity: 1 !important;
  transform: none !important;
}

.section-wrapper.visible {
  opacity: 1;
  transform: scale(1);
}
  
  /* Asegura que el scroll sea suave */
  html {
    scroll-behavior: smooth;
  }